{% extends "cabecera.html" %}
{% block title %}
Añade un nuevo producto
{% endblock %}
{% block content %}
<!--Formulario para crear un nuevo producto-->
        <form action="{{ url_for('addrec') }}" method="POST">
            <h3>Producto a añadir:</h3>

            Nombre<br>
            <input type="text" name="nombre" /><br>

            Descripcion<br>
            <input type="text" name="descripcion" /><br>

            Precio<br>
            <input type="number" name="precio" /><br>

            Cantidad en stock<br>
            <input type="number" name="stock" /><br>
            
            <input type="submit" value="Añadir" /><br>
            
        </form>
{% endblock %}